<div *ngIf="imageToShow != null"  style="margin: auto; display: table">
    <div style="position: relative; display: inline-flex;" (resized)="onResized($event)">
        <img [src]="imageToShow" > 
            <div [ngSwitch]="angle" style="position: absolute;">
                <ng-container *ngSwitchCase="0">
                    <div *ngFor="let bbox of bboxes;">
                        <div style="position: absolute;" 
                            [ngStyle]="{'background-color': bbox.selected ? '#faad1459' : '#40a9ff36'}" 
                            [style.width.px]="(bbox.BBox.x2-bbox.BBox.x1)*ratio"
                            [style.height.px]="(bbox.BBox.y2-bbox.BBox.y1)*ratio" 
                            [style.left.px]="(bbox.BBox.x1)*ratio" 
                            [style.top.px]="(bbox.BBox.y1)*ratio">
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="90">
                    <div *ngFor="let bbox of bboxes;">
                        <div style="position: absolute;" 
                            [ngStyle]="{'background-color': bbox.selected ? '#faad1459' : '#40a9ff36'}" 
                            [style.width.px]="(bbox.BBox.y2-bbox.BBox.y1)*ratio"
                            [style.height.px]="(bbox.BBox.x2-bbox.BBox.x1)*ratio" 
                            [style.left.px]="(bbox.BBox.y1)*ratio"
                            [style.top.px]="(imgHeight - bbox.BBox.x2 *ratio )" >
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="180">
                    <div *ngFor="let bbox of bboxes;">
                        <div style="position: absolute;" 
                            [ngStyle]="{'background-color': bbox.selected ? '#faad1459' : '#40a9ff36'}" 
                            [style.width.px]="(bbox.BBox.x2-bbox.BBox.x1)*ratio"
                            [style.height.px]="(bbox.BBox.y2-bbox.BBox.y1)*ratio" 
                            [style.left.px]="(imgWidth - bbox.BBox.x2 *ratio)" 
                            [style.top.px]="(imgHeight -bbox.BBox.y2 *ratio)">
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="270">
                    <div *ngFor="let bbox of bboxes;">
                        <div style="position: absolute;" 
                            [ngStyle]="{'background-color': bbox.selected ? '#faad1459' : '#40a9ff36'}" 
                            [style.width.px]="(bbox.BBox.y2-bbox.BBox.y1)*ratio"
                            [style.height.px]="(bbox.BBox.x2-bbox.BBox.x1)*ratio" 
                            [style.top.px]="(bbox.BBox.x1 *ratio )" 
                            [style.left.px]="(imgWidth - bbox.BBox.y2 *ratio)">
                        </div>
                    </div>
                </ng-container>
            </div>    
    </div>
</div>
