#subMenu{
    background-color:#001529cc;
    height:100%;
    overflow: auto;
    padding-top: 15px;  
}

.colorText{
    color:rgba(255,255,255,.65);
    padding: 10px;
    width: 300px;
}

#searchDoc{
    padding: 15px;
    width: 100%;
}
