<!-- Change url change info about document to display  (JSON OR XML)-->
<!-- <app-multivio  [url]="'data/json/multi-image.json/'"></app-multivio>
<app-multivio  [url]="'data/json/FR0047.json/'"></app-multivio>
<app-multivio  [url]="'data/json/doppler.json/'"></app-multivio>
<app-multivio  [url]="'data/json/multi-image.json/'"></app-multivio>
<app-multivio  [url]="'data/json/multi-mix.json/'"></app-multivio> -->
<!-- <app-multivio  [url]="'data/json/multi-pdf.json/'"></app-multivio> -->
<!-- <app-multivio  [url]="'data/xml/multi-mix.xml'"></app-multivio> -->
<router-outlet></router-outlet>
