/* You can add global styles to this file, and also import other style files */
.ant-tree-title, .ant-tree{
    color: rgba(255,255,255,.65);
}

.ant-tree li .ant-tree-node-content-wrapper:hover {
    background-color: transparent;
}

.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: transparent;
}


.myIcons{
    color: white;
    opacity: 0.8;
    font-size:24px;
    float: left;
    padding: 10px;
    cursor: pointer;
}