#bottomMenu{
    background-color:#001529;
    border-radius: 25px;
    opacity: 0;  
    transition: 3s;
    width: 600px;
    height: 44px;
    margin: auto;
}

#affix{
    width: 600px;
    height: 44px;
    margin: auto;
}

#inputPage{
    width: 50px;
    float: left;
    margin: 5px 5px 0px 5px;
    text-align: center;
}

#bottomMenu:hover{
    opacity: 0.8;
    transition: 0.4s;
}

.notSelectable{
    color:#fafafa1f !important; 
    cursor: unset !important; 
}
